<mat-dialog-content style="padding: 24px; padding-top: 5px;" *ngIf="detail">
  <div class="dialog-header">
    <h2 mat-dialog-title style="padding: 0 !important;">{{ detail?.name || 'Not available'}}</h2>
    <button mat-icon-button mat-dialog-close  aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-details">
    <div class="detail-row">
      <span class="detail-label">Description:</span>
      <span class="detail-value">{{ detail?.description || 'No description available' }}</span>
    </div>
    
    <div class="detail-row">
      <span class="detail-label">Ontology Link:</span>
      <span class="detail-value">{{ detail?.ontologyLink || 'Not available' }}</span>
    </div>
    
    <div class="detail-row">
      <span class="detail-label">IRI:</span>
      <span class="detail-value">{{ detail?.iri || 'Not available' }}</span>
    </div>
  </div>
</mat-dialog-content>