.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
  }
  
  .anotomical_structures {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  mat-form-field {
    width: 85%;
  
    input {
      font-size: 18px;
      text-transform: capitalize;
    }
  }